.quiz input[type=radio]{
    position: relative;
    top: 90px;
    left: 90px;
}

.quiz-icon {
    height: 50%;
    width: 10%;
}

.quiz-button {
    margin-right: 9;
    background-color: #FEF28A;
    border-color: #FEF28A;
    width: 10%;
    position: relative;
    left: 45%;
}